
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="card-group m-b-30 newcard">
            <div class="card m-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-account-multiple text-info"></i></h2>
                            <h3 class="">24</h3>
                            <h6 class="card-subtitle">User Online</h6></div>
                        <div class="col-12">
                            <ngb-progressbar [showValue]="false" type="info" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
			</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="card-group m-b-30 newcard">
            <!-- Column -->
            <div class="card m-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-city text-success"></i></h2>
                            <h3 class="">{{CompanyCountList}}</h3>
                            <h6 class="card-subtitle">Subscribers</h6></div>
                        <div class="col-12">
                            <ngb-progressbar [showValue]="false" type="success" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column 
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-account-box-outline text-purple"></i></h2>
                            <h3 class="">245</h3>
                            <h6 class="card-subtitle">Employer</h6></div>
                        <div class="col-12">
                            <ngb-progressbar [showValue]="false" type="primary" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-buffer text-warning"></i></h2>
                            <h3 class="">300</h3>
                            <h6 class="card-subtitle">Total Tickets</h6></div>
                        <div class="col-12">
                            <ngb-progressbar [showValue]="false" type="warning" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                </div>
            </div>-->
				</div>
			</div>
		
</div>