<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row pricing-plan">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Deshmukh</td>
                <td>Prohaska@gmail.com</td>
                <td>
				<div  class="">
    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox1" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox1">Yes</label>
    </div>
	    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox2" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox2">No</label>
    </div>
</div></td>
                <td class="lab-spc"><a href="#" class="label label-warning">Show</a> <a href="#" class="label label-info">Edit</a> <a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Deshmukh</td>
                <td>Gaylord@gmail.com</td>
                <td>
				<div  class="">
    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox1" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox1">Yes</label>
    </div>
	    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox2" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox2">No</label>
    </div>
</div></td>
                <td class="lab-spc"><a href="#" class="label label-warning">Show</a> <a href="#" class="label label-info">Edit</a> <a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sanghani</td>
                <td>Gusikowski@gmail.com</td>
                <td>
				<div  class="">
    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox1" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox1">Yes</label>
    </div>
	    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox2" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox2">No</label>
    </div>
</div></td>
                <td class="lab-spc"><a href="#" class="label label-warning">Show</a> <a href="#" class="label label-info">Edit</a> <a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Roshan</td>
                <td>Rogahn@gmail.com</td>
                <td>
				<div  class="">
    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox1" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox1">Yes</label>
    </div>
	    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox2" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox2">No</label>
    </div>
</div></td>
                <td class="lab-spc"><a href="#" class="label label-warning">Show</a> <a href="#" class="label label-info">Edit</a> <a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Joshi</td>
                <td>Hickle@gmail.com</td>
                <td>
				<div  class="">
    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox1" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox1">Yes</label>
    </div>
	    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox2" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox2">No</label>
    </div>
</div></td>
                <td class="lab-spc"><a href="#" class="label label-warning">Show</a> <a href="#" class="label label-info">Edit</a> <a href="#" class="label label-danger">Delete</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Nigam</td>
                <td>Eichmann@gmail.com</td>
                <td>
				<div  class="">
    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox1" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox1">Yes</label>
    </div>
	    <div  class="custom-control custom-checkbox mr-sm-2">
        <input  class="custom-control-input" id="checkbox2" type="checkbox" value="check">
        <label  class="custom-control-label" for="checkbox2">No</label>
    </div>
</div></td>
                <td class="lab-spc"><a href="#" class="label label-warning">Show</a> <a href="#" class="label label-info">Edit</a> <a href="#" class="label label-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

                </div>
            </div>
        </div>
    </div>
</div>