<div class="row">
    <div class="col-12">
        <div class="card">

		
            <div class="card-body">
                <div class="row pricing-plan">
	

    <div class="card card-body bg-blue">
        <div class="row">
		
		
		
            <div class="col-sm-12 col-xs-12">
                <form novalidate="" class="ng-untouched ng-pristine ng-valid">
				<h3>Date Wise</h3>
				<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail111">From</label>
						<div class="input-group">
							<input class="form-control " name="dp"  type="date">
						</div>	
                    </div>
				
					
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail12">To</label>
						<div class="input-group">
							<input class="form-control " name="dp"  type="date">
						</div>	
					</div>
				</div>	
				</div>

				<h3>Plan Explaing Date</h3>
				<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail111">From</label>
						<div class="input-group">
							<input class="form-control " name="dp"  type="date">
						</div>	
                    </div>
				
					
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail12">To</label>
						<div class="input-group">
							<input class="form-control " name="dp"  type="date">
						</div>	
					</div>
				</div>	
				</div>	

				<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail111">Plan</label>
						<div class="input-group">
							<select class="custom-select col-12" id="example-month-input2">
							<option selected="">Choose...</option>
							<option value="1" ng-reflect-value="1">Sliver</option>
							<option value="2" ng-reflect-value="2">Gold</option>
							<option value="3" ng-reflect-value="3">Platinum</option>
							</select>
						</div>	
					</div>
				
					
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail12">Payment Status</label>
						<div class="input-group">
							<select class="custom-select col-12" id="example-month-input2">
							<option selected="">Choose...</option>
							<option value="1" ng-reflect-value="1">Paid</option>
							<option value="2" ng-reflect-value="2">Unpaid</option>
							</select>
						</div>	
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail12">Plan Status</label>
						<div class="input-group">
							<select class="custom-select col-12" id="example-month-input2">
							<option selected="">Choose...</option>
							<option value="1" ng-reflect-value="1">Paid</option>
							<option value="2" ng-reflect-value="2">Unpaid</option>
							</select>
						</div>	
					</div>
				</div>					
				
				</div>	

                    <button class="btn btn-success m-r-10" type="submit">Submit</button>
                    <button class="btn btn-dark" type="submit">Clear</button>
                </form>
            </div>
        </div>
    </div>
			


									
				

                </div>
            </div>
        </div>
    </div>
</div>