<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
<div class="col-12">
        <!-- You can find this in the dashboard-component -->
        <project-counter [CompanyCountList]="Companycount"></project-counter>
		</div>
   
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Report and Comments -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
        <earning-report></earning-report>
    </div>
    <div class="col-lg-6">
        <!-- You can find this in the dashboard-component -->
        <recent-comment></recent-comment>
    </div>
</div>
<!-- Row -->
<!-- ============================================================== -->
<!-- Carousel widgets --><!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
<!-- <social-slider></social-slider> -->
<!-- ============================================================== -->
<!-- Activity widgets --><!-- You can find this in the dashboard-component -->
<!-- ============================================================== -->
